* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("sneaked.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    column-gap: 20px;
    padding: 20px;
    background-color: #242424;
}

.container {
    flex-basis: 50%;
    display: grid;
    grid-template-rows: auto 40px;
}

.container__text {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(
        136.14deg,
        rgba(0, 0, 0, 0.1) 1.17%,
        rgba(0, 0, 0, 0.1) 99.51%
    );
    overflow-y: auto;
    color: white;
    line-height: 20px;
    font-size: 14px;
    padding: 14px;
    word-break: break-word;
    margin-bottom: 20px;
}

.container__text:focus {
    outline: none;
}

.container__text::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.311);
}

.container__text::-webkit-scrollbar-thumb {
    background-color: rgba(230, 230, 230, 0.309);
}

.container__text p {
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 16px;
}

#handled-text {
    transition: .2s border-color;
}

#handled-text.saving {
    border-color: rgba(116, 255, 47, 0.641);
}

.container__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container__settings {
    display: none;
}

.button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s background-color;
    color: white;
    width: 100px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.317);
}

.button:disabled {
    background-color: rgba(0, 0, 0, 0.52);
}

.button .hidden {
    display: none;
}

